# Environment variables
.env
.env.local
.env.*.local
*.env

# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / System files
.DS_Store
Thumbs.db

# IDE & Editor directories
.vscode/
.idea/
*.swp
*.swo

# Build outputs & cache
dist/
build/
.cache/

backend-master.md
json-struct.md
changes.txt